html {
  background-image: url("http://www.lifewallpapers.net/data/out/368/6928247-wood-grain-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.menu-container {
  width: 100%;
}

h1 {
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #BB6B05, 2px 2px 1px #BB6B05;
}

h3 {
  font-size: 60px;
  padding: 0;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: .1em;
}

h5 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: .1em;
  margin: 40px 0 0 0;
}

.start-btn a {
  width: 300px;
  height: 300px;
  text-decoration: none;
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #BB6B05, #ED890A);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
  margin-left: 550px;
}

#board {
  background: #BB6B05;
  width: 430px;
  height: 410px;
  padding: 60px;
  margin: 0px auto 0px 400px;
  border-radius: 84px;
  float: left;
}

.box {
  background-color: #ED890A;
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #BB6B05;
  margin: 0;
  padding: 0;
}

.play1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 5px;
}

.play2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  margin: 5px;
}

#scores {
  width: 300px;
  float: left;
  margin-left: 5%;
}

#game-over{
  position: absolute;
  top: 160px;
  left:300px;
  display: none;
}

.p1, .p2 {
  width: 100px;
  padding: 0 60px 0 25px;
  border: 2px solid #FFFFFF;
  margin: 5% auto 5% 70px;
}

.white {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  display: inline-block;
}

.p1-num, .p2-num {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 0;
}

.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  display: inline-block;
}
